<ol class="breadcrumb">
    <li><a href="#">Home</a>
    </li>
    <li>
        <class="active">Articles</a>

</ol>

<div class="container posts-page">

    <div class="post row">
        <div class="col-xs-1 col-md-1">
        </div>
        <div class="col-md-9 col-xs-11">

            <div class="info">
                <a ng-href="#/demo">
          This demo does not require login. 
          
        </a>


            </div>

            <span>commented by 634</span>


        </div>
    </div>


    <div class="post row" ng-repeat="article in articles">
        <div class="col-xs-1 col-md-1">
        </div>
        <div class="col-md-9 col-xs-11">

            <div class="info">
                <a ng-href="#/load/{{article.index}}">
          {{ article.title }}
          
        </a>


            </div>

            <span>commented by {{ article.numComments }}</span>


        </div>
    </div>


</div>
