<div class="jumbotron">
  <h1>CommentIQ</h1>
  <p class="lead">
    <img src="images/wp.png" alt="I'm Yeoman" width="731" height="562"><br>
    Support  Moderator building a better community. 
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/browse">See Demo<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<a href="https://github.com/intuinno/commentIQclient"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
