<ol class="breadcrumb">
    <li><a href="#">Home</a>
    </li>
    <li><a href="#">Articles</a>
    </li>
    <li class="active">F.B.I. Director Speaks About Race</li>
</ol>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <h3> 
          F.B.I. Director Speaks About Race
          </h3>
            <p dd-text-collapse dd-text-collapse-max-length="310" dd-text-collapse-text="{{article}}"></p>

            <br>



            <div class="overviewButton btn-group">

                <label class="btn btn-primary" ng-model="overview" btn-radio='1'> Custom </label>
                <label class="btn btn-primary" ng-model="overview" btn-radio="0"> Map </label>
                <!-- <label class="btn btn-primary" ng-model="baseModel" btn-radio='"Thread"'> Thread </label> -->
            </div>

            <br>

            <ul rn-carousel-controls="true" rn-carousel rn-carousel-indicator="true" rn-carousel-index="overview">



                <li>

                    <div>

                        <div class="gathermap" data="nomaData"> </div>

                    </div>

                </li>

                <li>

                    <div>

                        <div gatherplot data="nomaData" config="nomaConfig" border="nomaBorder" round="nomaRound" shaperenderingmode="nomaShapeRendering" dimsum="dimsum" on-click="d3OnClick(item)" xdim="{{nomaConfig.xDim}}" ydim="{{nomaConfig.yDim}}" context="context" comment="isComment">

                        </div>

                        <br>

                        <div class="chart-simple-interface">
                            <h5>Show me

                            <select ng-model="nomaConfig.xDim" ng-options="f for f in nomaConfig.dims">

                                <option value="">-- undefined --</option>

                            </select>&nbsp;vs&nbsp;.

                            <select ng-model="nomaConfig.yDim" ng-options="f for f in nomaConfig.dims">

                                <option value="">-- undefined --</option>

                            </select>

                            </br>
                            </br>
                            Mark nodes with color according to

                            <select ng-model="nomaConfig.colorDim" ng-options="f for f in nomaConfig.dims">

                                <option value="">-- undefined --</option>

                            </select>
                        </h5>


                            <div ng-class="{tryMe: isRelativeSelectFocused}">
                                <h6>
                                <input type='checkbox' ng-model="nomaConfig.relativeMode" ng-trueValue="relative" ng-false-value="'absolute'">Check this to make it easy to compare groups of different sizes.</h6>

                            </div>

                        </div>
                    </div>

                </li>

            </ul>

        </div>
        <div class="col-sm-6">

            <br>

            <div>
                Presets for Ranking:
                <select class="btn btn-primary dropdown-toggle" ng-model="currentCategory" ng-options="f.name for f in presetCategory">
                </select>

            </div>

            <br>

            <div class="criteriaBarContainer">

                <div class="criteriaBar" stacked-bar help="criterias" data="currentCategory"></div>
                <a class="pull-right" href="" ng-click="isSettingCollapsed=!isSettingCollapsed">
                    <i class="fa fa-cog fa-2x criteriaBarConfig"></i>
                </a>

            </div>

            <script type="text/ng-template" id="settingNameModal.html">
                <div class="modal-header">
                    <h3 class="modal-title">Please enter the name for new setting</h3>
                </div>
                <div class="modal-body">
                    New name:
                    <input type="text" ng-model='settingName' class="form-control" select-on-click placeholder={{settingName}}>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="ok()">OK</button>
                    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                </div>
            </script>


            <script type="text/ng-template" id="helpCriteriaModal.html">
                <div class="modal-header">
                    <h3 class="modal-title">Help for Criteria</h3>
                </div>
                <div class="modal-body">

                    <dl>

                        <dt ng-repeat-start="criteria in criterias">
                            <br> {{criteria.name}}

                        </dt>

                        <dd ng-repeat-end>

                            {{criteria.help_text}}
                        </dd>


                    </dl>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="ok()">OK</button>
                </div>
            </script>

            <div collapse="isSettingCollapsed">
                <div class="well">
                    <a href="" class="btn btn-link btn-default pull-right" ng-click="isSettingCollapsed=true"><i class="fa fa-times"></i> Close</a>

                    <a href="" class="btn btn-link btn-default pull-right" ng-click="saveCurrentSetting()"><i class="fa fa-floppy-o"></i> Save current setting</a>

                    <br>

                    <div ng-repeat="scoreModel in scoreModels">
                        <h4> Criteria based on {{scoreModel}} score</h4>
                        <ul>
                            <li ng-repeat="criteria in criterias | filter:{model:scoreModel}">
                                <span popover="{{criteria.help_text}}" popover-trigger="mouseenter">{{criteria.display_text}} <a href="" class="btn btn-link btn-default" ng-click="openHelpModalForCriteria()"><i class="fa fa-question-circle"></i> </a> </span> : {{currentCategory.weights[criteria.name]}}

                                <input type="range" ng-model='currentCategory.weights[criteria.name]' min="0" max="100" required>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <br>

            <input type="text" ng-model='searchText' class="form-control" placeholder="Search for...">




            <tabset>
                <tab ng-repeat='tab in tabArray' active=tab.active>

                    <tab-heading>
                        <span>{{tab.status}}</span> ({{filteredComment.length}})
                    </tab-heading>
                    <div class="commentList">
                        <dl>
                            <dt dir-paginate-start='comment in filteredComment=(nomaData |filter: {selected:"true"} | filter:{status: tab.status } |orderBy:"score":true | filter: searchText) | itemsPerPage: 5' pagination-id="tab.status">
                                {{comment.DisplayName}}
                            </dt>



                            <dd>


                                <div ng-bind-html="comment.commentBody"></div>

                                <br> score = {{comment.score}}
                                <br> brush = {{comment.selected}}

                            </dd>

                            <a href="" class="btn btn-link btn-default" ng-click="comment.status='Accepted'" ng-hide="status=='Accepted'">Accept</a>
                            <a href="" class="btn btn-link btn-default" ng-click="comment.status='Rejected'" ng-hide="status=='Rejected'">Reject</a>
                            <a href="" class="btn btn-link btn-default" ng-click="comment.status='Picked'" ng-hide="status=='Picked'">Pick</a>

                            <br dir-paginate-end>
                        </dl>
                    </div>
                    <dir-pagination-controls pagination-id='tab.status'></dir-pagination-controls>
                </tab>


                <tab heading='All'>
                    <div class="commentList">
                        <dl>
                            <dt dir-paginate-start='comment in nomaData |orderBy:"score":true| itemsPerPage: 5' pagination-id="All">
                                {{comment.DisplayName}}
                            </dt>



                            <dd>

                                {{comment.display_name}}
                                <br>
                                <div ng-bind-html="comment.commentBody"></div>
                                <br> score = {{comment.score}}
                                <br> brush = {{comment.selected}}

                            </dd>

                            <a href="" class="btn btn-link btn-default" ng-click="comment.status='Accepted'" ng-hide="status=='Accepted'">Accept</a>
                            <a href="" class="btn btn-link btn-default" ng-click="comment.status='Rejected'" ng-hide="status=='Rejected'">Reject</a>
                            <a href="" class="btn btn-link btn-default" ng-click="comment.status='Picked'" ng-hide="status=='Picked'">Pick</a>

                            <br dir-paginate-end>
                        </dl>
                    </div>
                    <dir-pagination-controls pagination-id='All'></dir-pagination-controls>
                </tab>
            </tabset>


        </div>
    </div>
</div>
